body {
  font-family: Helvetica, sans-serif;
  background-color: black;
  text-align: center;
  margin:0;
}
#content {
  background-color: white;
  color: black;
  margin: 0 150px 0 150px;
}
header {
  background-image: url("../images/the-flatiron-building.png");
}
nav {
  font-size: 18px;
}
nav a {
  color: white;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  padding-bottom: 10px;
}
h1 {
  font-weight: bold;
  font-size: 70px;
  color: white;
}
h2 {
  font-weight: bold;
  font-size: 32px;
}
h3 {
  font-weight: bold;
  font-size: 23px;
}
p {
  font-size: 14px;
}
h2.fancybg {
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  color: white;
}
footer {
  background-color: dimgray;
  color: white;
  text-align: left;
  font-size: 11px;
}
footer nav {
  display: inline;
  font-size: 11px;
}
